.nav-wrapper{
    background-color: black;
    color: white;
}

#dropdown1{
    background-color: black;
    color: white;
    
}

body{
    background-image: url("../Project-1/pictures/bmwik.gif");
    background-color: black;
    background-size: 1600px;
    background-repeat: no-repeat;
   
}

.dropdown-content li>a{
    color: white !important;
}

.claims{
    background-image: url("howtoinsclaimsadjuster_09.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    color: white;
    padding: 40px;
    font-family: fantasy;
   
}

.page-footer {
    background-color: black !important;
    text-align: center;
}

.number{
    height: 100px !important;
    margin-left: 83px !important;
    margin-right: -403px !important;
    background-color: #fab637 !important;
  
}





.lol{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.Paint{
    background-image: url("iStock-899442490.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    color: black;
    padding: 40px;
    font-family: fantasy;
}

.commingsoon{
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 100px;
}


.card .card-image .card-title{
    color: white !important;
    font-weight: bold;
    padding: 9px !important;
}


.card .card-content .card-title {
    line-height: 14px !important;
}

.card .card-reveal {
    background-color: silver !important;
}

.imgsize{
    height: 245px;
    width: 737px;

}

.tesla{
    padding-bottom: 10px;
}

.read{
    color: red !important;
}
.card{
    height: 400px;
}

.zzz{
    height: 400px;
    width: 400px;
}

.row .col.m3 {
    
    margin-left: 2% !important;
    left: 8.5% !important;
    background-color: silver;
   
 
}

.card{
    background-color: silver;
    border-radius: 16px !important;
    font-size: 18px !important;
    font-family: serif !important;
}


.logo img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 100px;
    
}

.audi{
    background-image: url("../Project-1/pictures/newaudi.gif");
    background-size: 1530px;
}

.polish{
    font-size: small;
    margin-top: 560px;
    margin-left: 0px;
    height: 600px;
    width: 100%;
    
    
    
}

.why{
    margin-top: -616px;
    margin-left: 670px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 6px 2px 5px black;
}

.answer{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 400px;
    text-shadow: 6px 2px 5px black;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .par{
      color: white;
  }

  .gallery{
      color: white;
      font-family: 'Times New Roman', Times, serif;
  }

