.nav-wrapper{
    background-color: black;
    color: white;
}

#dropdown1{
    background-color: black;
    color: white;
    
}

.card-panel {
    background-color: whitesmoke !important;
}
body{
    background-color: black;
    
    background-size: 1600px;
    background-repeat: no-repeat;
   
}


.bmw{
    background-image: url("../Project-1/pictures/bmwik.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.dropdown-content li>a{
    color: white !important;
}

.aboutus{
    background-image: url("../Project-1/pictures/about-us-banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 100px;
    font-family: 'Times New Roman', Times, serif;
    
}



.aboutus {padding: 14px;
    background-size: 142%;
}

.claims{
    background-image: url("../Project-1/pictures/howtoinsclaimsadjuster_09.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    color: white;
    padding: 40px;
    font-family: fantasy;
   
}

nav ul a {
    font-size: 1.5rem !important;
    padding: 1px 15px !important;
}
.operation{
    color: rgb(0, 0, 0);
    background-color: silver
    ;
}

.logo img{
    position: absolute;
    margin-top: -29px;
    margin-left: -7px;
    width: 165px;
}

.nav-wrapper{
    font-size: 20px !important;
}

.page-footer {
    background-color: black !important;
    text-align: center;
}

.number{
    height: 100px !important;
    margin-left: 83px !important;
    margin-right: -403px !important;
    background-color: #fab637 !important;
    
  
}

.phonenumber{
    font-size: 55px !important;
    font-weight: 600 !important;
    padding: 20px;
}



.lol{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.Paint{
    background-image: url("../Project-1/pictures/iStock-899442490.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    color: black;
    padding: 40px;
    font-family: fantasy;
}

.commingsoon{
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 100px;
}


.card .card-image .card-title{
    color: white !important;
    font-weight: bold;
    padding: 9px !important;
}


.card .card-content .card-title {
    line-height: 14px !important;
}

.card .card-reveal {
    background-color: silver !important;
}

.imgsize{
    height: 245px;
    width: 737px;

}

.tesla{
    padding-bottom: 10px;
}

.read{
    color: red !important;
}
.card{
    height: 400px;
}

.zzz{
    height: 400px;
    width: 400px;
}

.row .col.m3 {
    
    margin-left: 2% !important;
    left: 8.5% !important;
    background-color: silver;
   
 
}

.card{
    background-color: silver;
    border-radius: 16px !important;
    font-size: 18px !important;
    font-family: serif !important;
}


/* /////// */

.polish{
    font-size: small;
    margin-top: 560px;
    margin-left: 0px;
    height: 600px;
    width: 100%;
}

.why{
    margin-top: -616px;
    margin-left: 670px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 6px 2px 5px black;
}
.card444{
    background-color: transparent;
    color: white;
    text-align: center;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  .column img:hover {
    opacity: 1;
  }
  /* Clear floats after the columns */
  .www:after {
    content: "";
    display: table;
    clear: both;
  }
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .par{
    color: white;
}
.gallery{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.audi{
    background-image: url("../Project-1/pictures/newaudi.gif");
    background-size: 1530px;
}


.biggie{
    color: white;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
}
@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}
.footer-distributed{
    background-color: #2C292F;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
    width: 30%;
}
.footer-distributed h3{
    color:  #FFFFFF;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
    width: 30%;
}
.footer-distributed h3 span{
    color:  #E0AC1C;
}
/* Footer links */
.footer-distributed .footer-links{
    color:  #FFFFFF;
    margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-company-name{
    color:  #8F9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #33383B;
    color: #FFFFFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #FFFFFF;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color:  #E0AC1C;
    text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
    width: 30%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999F;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383B;
    border-radius: 2px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}